In [5]:
#install.packages("RCurl")
library(RCurl)
library(tidyverse)
opuha <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
rakaia <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4068526&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
waitaki <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40TK6&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))
kawarau <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40AX2&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                                    
clutha <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge.Master%4075207&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                  
mataura <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN5&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140")) 
monowai <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN10&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                    
taieri <- read.csv(text = getURL("https://hydrowebportal.niwa.co.nz/Export/BulkExport?DateRange=Custom&StartTime=2020-01-01%2000%3A00&EndTime=2020-12-31%2000%3A00&TimeZone=12&Calendar=CALENDARYEAR&Interval=PointsAsRecorded&Step=1&ExportFormat=csv&TimeAligned=True&RoundData=False&IncludeGradeCodes=False&IncludeApprovalLevels=False&IncludeInterpolationTypes=False&Datasets[0].DatasetName=Discharge%20Value.NRWQN%40DN3&Datasets[0].Calculation=Instantaneous&Datasets[0].UnitId=140"))                   
head(opuha, 10)
head(rakaia, 10)
head(waitaki, 10)
head(kawarau, 10)
head(clutha, 10)
head(mataura, 10)
head(monowai, 10)
head(taieri, 10)

   X.Bulk.Export...Points.as.recorded X
1                                     TK3
2                                     Opuha at Skipton Br. (NRWQN)
3                                     Discharge Value.NRWQN
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-16 08:45:00                6.539
6  2020-02-13 07:50:00                7.677
7  2020-03-12 08:15:00                7.996
8  2020-05-14 08:45:00                3.861
9  2020-06-18 08:35:00                3.534
10 2020-07-16 09:00:00                2.742

   X.Bulk.Export...Points.as.recorded X
1                                     68526
2                                     Rakaia at Fighting Hill
3                                     Discharge.Master
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-01 00:00:00                184.529645523513
6  2020-01-01 00:05:00                186.04606120743
7  2020-01-01 00:10:00                183.270616488161
8  2020-01-01 00:15:00                184.025526525119
9  2020-01-01 00:20:00                183.773720713663
10 2020-01-01 00:25:00                184.277501463196

   X.Bulk.Export...Points.as.recorded X
1                                     TK6
2                                     Waitaki at SH1 Br. (NRWQN)
3                                     Discharge Value.NRWQN
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-16 12:00:00                520
6  2020-02-13 10:50:00                722
7  2020-03-12 12:45:00                462
8  2020-05-14 11:40:00                460
9  2020-06-18 11:30:00                350
10 2020-07-16 12:00:00                400

   X.Bulk.Export...Points.as.recorded X
1                                     AX2
2                                     Kawarau at Chard Rd (NRWQN)
3                                     Discharge Value.NRWQN
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-16 14:10:00                209.09
6  2020-02-11 14:10:00                476.332
7  2020-03-17 14:10:00                151.195
8  2020-05-12 14:10:00                173.726
9  2020-06-16 14:10:00                110.957
10 2020-07-14 14:00:00                163.319

   X.Bulk.Export...Points.as.recorded X
1                                     75207
2                                     Clutha at Balclutha
3                                     Discharge.Master
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-01 00:00:00                773.014974417731
6  2020-01-01 00:05:00                771.099712193878
7  2020-01-01 00:10:00                770.142650776021
8  2020-01-01 00:15:00                770.142650776021
9  2020-01-01 00:20:00                769.664262565032
10 2020-01-01 00:25:00                768.707771245425

   X.Bulk.Export...Points.as.recorded X
1                                     DN5
2                                     Mataura at Seaward Down (NRWQN)
3                                     Discharge Value.NRWQN
4  Timestamp (UTC+12:00)              Value (m^3/s)
5  2020-01-22 08:30:00                32.7
6  2020-02-12 10:30:00                139.378
7  2020-03-11 09:30:00                94.289
8  2020-05-20 09:00:00                34.3
9  2020-06-10 09:00:00                56.2
10 2020-07-15 08:50:00                140.7

  X.Bulk.Export...Points.as.recorded X
1                                    DN10
2                                    Monowai below Gates (NRWQN)
3                                    Discharge Value.NRWQN
4 Timestamp (UTC+12:00)              Value (m^3/s)

  X.Bulk.Export...Points.as.recorded X
1                                    DN3
2                                    Taieri at Outram (NRWQN)
3                                    Discharge Value.NRWQN
4 Timestamp (UTC+12:00)              Value (m^3/s)